
body{
    font-family: 'League Spartan', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --bg-opacity: 1;
    margin:0;
    padding: 0;
    background-color: hsl(180, 52%, 96%);
    color: #000;
}

header{
    background-image: url(bg-header-desktop.svg);
    width: 100%;
    height: 150px;
    background-color:hsl(180, 29%, 50%); 
}
form{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    flex-direction: column;
}
@media only screen and (max-width: 768px){
    form{
        width: 80%;
    }
    
}

label{
    margin-top: 20px;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
    font-size: 28px;
    margin-left: 120px;
}

@media only screen and (max-width: 767px) {
    h2{
        margin-left: 0px
    }
    
}

.button{
    display: flex;
    align-self: flex-end;
    font-size: 16px;
    margin-top: 20px;
    font-weight: 700;
    background-color:  hsl(180, 29%, 50%);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding-top: 15px;
    margin-bottom: 40px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 20px;
    color: #fafafa;
}

@media only screen and (max-width: 767px){
    .button{
        width: 50%;
        margin-right: 40px;
        margin-top: 20px;
    }
}
.button:hover{
    color: #000;
    scale: 1.05;
    cursor: pointer;
}

.delete-button{
 background: none;
 border: none;
 scale: 1.2;
 cursor: pointer;
}

.update-button{
background: none;
border: none;
scale: 1.2;  
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  #contact-list {
    flex: 1;
  }
  
  span{
    margin-left: 40px;
  }

.input{   

font-size: 16px;
color: #000;
border-radius: 10px;
cursor: pointer;
background-color: transparent;
border: 1px solid hsl(180, 14%, 20%);
padding: 10px;
}

.search{
font-size: 16px;
color: #000;
border-radius: 10px;
cursor: pointer;
background-color: transparent;
border: 1px solid hsl(180, 14%, 20%);
padding: 10px;
}

.input-update{
font-size: 16px;
color: #000;
border-radius: 10px;
cursor: pointer;
background-color: transparent;
border: 1px solid hsl(180, 14%, 20%);
padding: 5px;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

li{
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 4px hsl(180, 14%, 20%);
    border-radius: 10px;
    width: 80%;
    height: 60px;
    margin-bottom: 1rem;
    overflow: hidden;   
    font-size: 20px;
    
}
.seperator{
    border: 1px solid hsl(180, 8%, 52%);
    margin-top: 20px;
    margin-bottom: 40px;
}

#error{
    color: red;
    font-size: 16px;
}

#errorEmail{
    color: red;
    font-size: 16px;
}

#errorPhone{
    color: red;
    font-size: 16px;
}

#errorPostalcode{
    color: red;
    font-size: 16px;
}

@media only screen and (max-width: 767px) {
    #error{
        margin-right: 50px;
    }
    
}

#errorUpdate{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 16px;
}

.contacts-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-bottom: 40px;
}

@media only screen and (max-width: 767px) {
    .contacts-container{
     flex-direction: column;
    }
    
}

.contact-container{
    display: flex; 
    justify-content: space-around;
}

.contact-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .contact-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .contact-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .contact-table tr:hover {
    background-color: #ddd;
  }

  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 25%;
  }
  
